{%load static%}
<!DOCTYPE html>
<html>

<head class="bg-danger">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{%static 'jquery-ui/jquery-ui.min.css'%}" rel="stylesheet">
    <link href="{%static 'iconfont/material-icons.css'%}" rel="stylesheet">
    <link href="{%static 'node_modules/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet">
  
    {%block link%}
    {% endblock %}

    <title>FREELANCE</title>
</head>

<body class="grey lighten-3">
    <div>
        {%include 'partials/navbar.html'%}
        {% comment %} {%include 'partials/sidebar.html'%} {% endcomment %}
        {%block content%}
        {% endblock %}
    </div>

    <script src="{%static 'node_modules/bootstrap/dist/js/bootstrap.min.js'%} "></script>
    {% comment %} <script src="{%static 'jquery-ui/jquery-ui.min.js'%} "></script> {% endcomment %}

    {%block script%}
    {% endblock %}
</body>
</html>